// * root
:root {
 font-size: 16px;
 // * colors
 --cl-bg: #263344;
 --cl-snake: #2d8bd3;
 --cl-food: #df4833;
 // * container width
}
// * hard reset
*,
*::after,
*::before {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
// * frame setup
html,
body,
#root {
 width: 100%;
 height: 100%;
}
// * body setup
body {
 background-color: var(--cl-bg);
 color: white;
 text-transform: capitalize;
}
// * game starting
// * game container

.game__container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 width: 100%;
 margin: 0 auto;
 min-height: 100vh;
}
.game__stats-container {
 margin-bottom: 1rem;
}
.game__board {
 outline-offset: -1px;
 outline: 1px solid white;
 display: grid;
 grid-template-columns: repeat(21, 5vmin);
 grid-template-rows: repeat(21, auto);
 place-items: center;
 height: 100vmin;
}
.snake {
 background-color: var(--cl-snake);
 width: 100%;
 height: 100%;
}
.food {
 background-color: var(--cl-food);
 border-radius: 50%;
 width: 70%;
 height: 70%;
}
